.appBar {
    background-color: #21201c;
}

.grow {
    flex-grow: 1;
}

.navButton {
    color: #ffffff !important;
}

.navButtonActive {
    color: #5bc0be !important;
}

/* Desktop */
@media only screen and (min-width: --desktop) {

}

/* Tablet */
@media only screen and (max-width: --tablet) {

}

/* Mobile */
@media only screen and (max-width: --mobile) {

}
