html {
    --desktop: 1450px;
    --tablet: 1449px;
    --mobile: 700px;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #323232;
    background-color: #f0f4f9;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 0;
}
